body {
    font-family: "Asap";
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

.top-rectangle {
    width: 1665px;
    background-color: #0E77AF;
    height: 40px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.container {
    width: 1170px;
    margin: auto;
}

.top-buttons {
    display: flex;
    align-items: center;
}

.container input {
    padding-right: 21px;
}

#top-mail {
    color: white;
    text-decoration: none;
    margin-left: auto;
    font-size: 12px;
}

.buttons {
    margin: auto;
    display: flex;
    align-items: center;
    margin-right: 58px;

}

.buttons a {
    margin-left: 20px;
    font-size: 14px;
}

.call-us {
    display: flex;
}

.number {
    margin-left: 10px;
}

.call-us p {
    font-size: 14px;
    color: #7D7D7D;
}

.top-buttons2 {
    display: flex;
    align-items: center;
}

.scroller {
    display: flex;
    font-size: 24px;
    width: 1665px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 85px;
}

.scroller img {
    margin: auto;
}

.scroller .header-in-scroll {
    margin-bottom: 10px;
}
.scroller .words-in-scroller {
    width: 584px;
    position: absolute;
    margin-left: 833px;
    margin-top: 151px;

}
.words-in-scroller a {
    color: white;
    margin: auto;
}

.words-in-scroller p {
    font-size: 32px;
}

.words-in-scroller h1 {
    font-size: 84px;
}

.btn {
    display: flex;
    align-items: center;
    width: 284px;
    height: 74px;
    background-color: #B4141B;
    text-align: center;
    margin-top: 50px;
}
.about-us {
    margin-right: 50px;
}

.double-columns {
    display: flex;
}

.blocks-about-us {
    height: 240px;
    width: 350px;
    padding-left: 37px;
    padding-top: 45px;
}

.blocks-about-us p {
    margin-top: 45px;
}
.blocks-about-us h2 {
    position: relative;
    display: flex;
}
h2 img {
    margin-left: auto;
}